.container {
	max-width: 980px;
}
header {
	background-color: #000029;
	padding: 20px 0px;
	font-family: georgia;
}
header .navbar-inverse {
	float: right;
	background-color: transparent;
	border: none;
	padding: 0;
	margin-top: 7px;
	width: 100%;
}
header .navbar-nav {
	float: none;
	padding: 0;
	margin: 0;
}
header .navbar-inverse .navbar-nav > li {
	width: 25%;
}
header .navbar-inverse .navbar-nav > li > a {
	padding: 10px 0px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border-right: 1px solid #b3b3b3;
	color: #b3b3b3;
	text-align: center;
	transition: all 0.5s;
}
header .navbar-inverse .navbar-nav > li:last-child > a {
	border: none;
}
header .navbar-inverse .navbar-nav > li > a:hover {
	background-color:#b3b3b3;
	color:#000029;
	transition: all 0.5s;
}

 /*!présentation */    
.banner {
	background: #2e3192;
	color:white;
}
.banner btn-danger{
text-align: center;
}
.inner-banner h1{
	font-family:OCR A Extended ;
}
.inner-banner p{
	font-family:Times New Roman;
}

 /*!fin présentation */   

  /*!Service */     
.service{
	background-color: white;
	text-align: center;
	color:#000;
}
.service h2{
 	font-family:Times New Roman;
 	font-weight: bold;
}
.service h3{
	font-family:Agency FB;
	font-weight: bold;
}
.service h4, p{
	font-family: Bookman Old Style;
}
/*!Fin Service */

 /*!Equipe */    
.Equipe {
  margin-bottom: 50px;
  text-align: center; }
  .Equipe img {
    width: 225px;
    height: 225px;
    border: 7px solid white; }
  .Equipe h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .Equipe p {
    margin-top: 0; }
.equipe{
	background-color:#f6f2f2;
	text-align: center;
	color:#000;
}
.equipe h2{
	font-family:Times New Roman;
	font-weight: bold;
}
.equipe h3{
	font-family:Agency FB;
	font-weight: bold;
}
.equipe h4, p{
	font-family:Bookman Old Style;
}
/*!Fin Equipe */ 

/*!Contact */ 
section#contact {
  background-color: #0b0a0a;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #dd7812;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #808080;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #808080;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #808080;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase; }
  section#contact .text-danger {
    color: #e74c3c; }

 .contact h2{
 	color:white;
 	font-family:Times New Roman;
 	font-weight: bold;
 }  
 .contact h3{
 	color:white;
 	font-family:Agency FB;
 	font-weight: bold;
 }
 .coordoné{
 	
 	color:white;
 }
/*!Fin Contact */ 

/*!footer */ 
footer {
	background-color:white;
	font-family:Times New Roman;
 	font-weight: bold;
	color: #000;
	padding: 25px 0;
}
/*!FIn Footer */ 

@media(max-width: 991px){


	section:nth-child(3), section:nth-child(4), section:nth-child(5) {
		padding: 30px;
	}
	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.search {
		text-align: center;
	}
	.logo {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	header nav {
		width: 100%;
	}
	section:nth-child(3) .col-sm-6 {
		margin-bottom: 30px;
	}
	footer {
		padding: 30px;
	}
	footer .col-sm-6 {
		height: 340px;
	}
	footer .col-md-12 {
		margin: 0;
	}
}
@media(max-width: 767px) {
	header {
		padding: 10px 0px;
	}
	header .navbar-inverse .navbar-nav > li {
	width: 100%;
	}
	header .navbar-inverse .navbar-nav > li > a {
		padding:10 0px;
		display: block;
		font-size: 14px;
		font-weight: bold;
		border: none;
		color: #FFFFFF;
		text-align: center;
		transition: all 0.5s;
	}
	section h2 {
		font-size: 20px;
	}
	footer .col-sm-6 {
		height: auto;
		text-align: center;
		margin-bottom: 10px;
	}
}